@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&display=swap');
@import url('./header.css');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

html{
    height: 500vh;
}

.landing{
    height: 100vh;
    background-image: url(../imgs/Jessyca-portfolio.png);
    background-position: 100% 0;
    background-repeat: no-repeat;
    background-size: cover;

    display: flex;
    align-items: center;
    justify-content: center;
}

.landing h1{
    text-shadow: 0 0 0.2em #1b1c20, 0 0 0.2em #1b1c20, 0 0 0.2em #1b1c20;
    color: #ffff;
    font-size: 4em;
    /* margin-top: 40px; */
}

.landing h1 span{
    color: #5400ba;
}

main{
    background-image: #1b1c20;
}

